.button{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    white-space: nowrap;
    background-color: #f3cb14;
    color: #4c5c54;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

