@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.footer-container {
    background-color: rgba(73, 94, 87, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.logo,
.doormat-nav,
.contact-info,
.social-media {
    display: flex;
    flex-direction: column;
    padding: 0 3vw;
}

.doormat-nav {
    color: #ffffff;
    font-family: "Markazi Text", serif;
    font-size: 20px;
}

.contact-info {
    color: #ffffff;
    font-family: "Markazi Text", serif;
    font-size: 20px;
    white-space: nowrap;
    padding-top: 8px;
}

.contact-info p {
    font-family: "Karla", serif;
    font-size: 14px;
    text-align: left;
}

.contact-info ul {
    font-family: "Karla", serif;
    font-size: 14px;
    padding-left: 16px;
}

.doormat-nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Karla", serif;
    font-size: 14px;
}

.social-media {
    flex-direction: row;
}

.social-media img {
    width: 30px;
    aspect-ratio: inherit;
    padding: 1vw;
}

.social-media img:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 10%;
}

.logo img {
    width: 80px;
    aspect-ratio: inherit;
    padding-top: 30px;
}

.copyrights {
    font-family: "Markazi Text", serif;
    color: #ffffff;
    opacity: 90%;
    font-size: 14px;
    white-space: nowrap;
    width: 100;
    text-align: center;
    padding: 3vh 0;
}

.doormat-nav a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .footer {
        flex-direction: column;
        padding-top: 20px;
    }

    .logo,
    .doormat-nav,
    .contact-info,
    .social-media {
        padding: 10px 0;
    }

    .social-media img {
        width: 25px;
    }

    .doormat-nav,
    .contact-info {
        font-size: 16px;
    }

    .logo img {
        width: 60px;
    }

    .copyrights {
        padding: 2vh 0;
        font-size: 12px;

    }
}