@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


.header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 400px;
    padding: 20px;
    background-color: #4c5c54;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
    place-items: center;
}

.header > div:first-child {
    grid-column: 2 / 7;
    grid-row: 1 / 5;
    display: grid;
    flex-direction: column;
    padding: 20px;
    align-self: center;
    align-items: flex-start;
}

.header h2{
    font-size: 60px;
    font-family: 'Markazi Text', serif;
    font-weight: 700;
    color: #f3cb14;
    white-space: nowrap;
    z-index: 1;
}

.header h3{
    font-size: 30px;
    font-family: 'Markazi Text', serif;
    font-weight: 500;
    color: #ffffff;
    margin-top: -20px;
}

.header p{
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    margin-top: 20px;
}

.banner-image {
    display: flex;
    grid-area: 1/8/5/12;
    justify-content: flex-start;
    margin-top: 90px;
    margin-left: 30px;
}

.banner-image img{
    width: 40vw;
    max-width: 350px;
    height: auto;
    max-height: 450px;
    border-radius: 15px;
}

.header-button Button {
    padding: 15px;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.header-button Button:hover {
    background-color: #fff;
    color: #4c5c54;
}

@media (max-width: 700px) {
    .header > div:first-child {
        margin-left: 30px;
    }

    .header h2 {
        font-size: 40px;
        margin-bottom: 5px;
    }

    .header h3 {
        font-size: 25px;
    }
    .header p {
        font-size: 14px;
        max-width: 60%;
    }

    .banner-image{
        margin-right: 30px;
    }
}